
body{
    margin: 0;
    height: 100vh;
}

.section_one {
    width: 50%;
    height: 100%;
    background-color: grey;
    margin: 0;
    position: absolute;
    right: 0;
}

.section_two {
    width: 50%;
    height: 100%;
    background-color: white;
    margin: 0;
    position: absolute;
    left: 0;
}

.Info_Table{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    height: 85%;
    width: 85%;
    background-color: grey;
    position: absolute;

}

.Ad_Table{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: lightgray;
    position: absolute;
    box-shadow: 5px 10px 8px #888888;
}

#InfoHeader{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 12%;
    font-family: 'Anonymous Pro', monospace;
    font-size: 5vh;
}

ol:nth-child(2){
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Anonymous Pro', monospace;
}
li{
    margin-bottom: 25px;
    font-size: 3vh;
}
button:first-child{
    background-color: #008CBA;
    border-radius: 30px;
    font-size: 20px;
}
img:first-child{
    width: 100%;
}
img:nth-child(2){
    position: relative;
    bottom: 5%;
    left: 5%;
    transform: translate(-5%, 0%);
    width: 8%;
}

#SeeMore{
    background-color: rgba(0,0,0,.2);
    position: relative;
    width: 18%;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -99%);
    border-radius: 30px;
}
.MoreSloths{
    margin-top: 0;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 0;
    text-align: center;
    font-size: 2vh;
    font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 1100px) {
    ol{
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
    }
    li{font-size: 2.7vh;}
    #InfoHeader{
        margin-top: 2%;
    }
    .Info_Table{
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {

    .section_one {
        width: 100%;
        position: relative;
    }
    #InfoHeader{
        text-align: center;
        font-size: 3vh;
        font-family: 'Anonymous Pro', monospace;
    }
    ol{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
    li{font-size: 2vh;}


    .section_two{
        width: 100%;
        position: absolute;
    }
}
